﻿@model Domain.Contact

@{
    ViewData["Title"] = "Kustuta";
}

<h2>Kustuta</h2>

<h3>Oled sa kindel et tahad seda kustutada?</h3>
<div>
    <h4>Kontakt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactType.ContactTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FirstLastName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContactId" />
        <input type="submit" value="Kustuta" class="btn btn-default" /> |
        <a asp-action="Index">Tagasi nimekirja juurde</a>
    </form>
</div>
