﻿@model Domain.Contact

@{
    ViewData["Title"] = "Detailid";
}

<h2>Detailid</h2>

<div>
    <h4>Kontakt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactType.ContactTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FirstLastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContactId">Muuda</a> |
    <a asp-action="Index">Tagasi nimekirja juurde</a>
</div>
