﻿@model Domain.Contact

@{
    ViewData["Title"] = "Muuda";
}

<h2>Muuda</h2>

<h4>Kontakt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContactId" />
            <div class="form-group">
                <label asp-for="ContactValue" class="control-label"></label>
                <input asp-for="ContactValue" class="form-control" />
                <span asp-validation-for="ContactValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person" class="control-label"></label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactType" class="control-label"></label>
                <select asp-for="ContactTypeId" class="form-control" asp-items="ViewBag.ContactTypeId"></select>
                <span asp-validation-for="ContactTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvesta" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tagasi nimekirja juurde</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
