﻿@model IEnumerable<Domain.Contact>

@{
    ViewData["Title"] = "Nimekiri";
}

<h2>Nimekiri</h2>

<p>
    <a asp-action="Create">Loo uus</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContactValue)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactType.ContactTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstLastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactId">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.ContactId">Detailid</a> |
                <a asp-action="Delete" asp-route-id="@item.ContactId">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
