﻿@model Domain.PersonLanguage

@{
    ViewData["Title"] = "Loo";
}

<h2>Loo</h2>

<h4>Keeleoskus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ListeningSkillLevel" class="control-label"></label>
                <select asp-for="ListeningSkillLevel" asp-items="Html.GetEnumSelectList<LanguageSkillLevel>()" class="form-control"></select>
                <span asp-validation-for="ListeningSkillLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadingSkillLevel" class="control-label"></label>
                <select asp-for="ReadingSkillLevel" asp-items="Html.GetEnumSelectList<LanguageSkillLevel>()" class="form-control"></select>
                <span asp-validation-for="ReadingSkillLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakingSkillLevel" class="control-label"></label>
                <select asp-for="SpeakingSkillLevel" asp-items="Html.GetEnumSelectList<LanguageSkillLevel>()" class="form-control"></select>
                <span asp-validation-for="SpeakingSkillLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OratorySkillLevel" class="control-label"></label>
                <select asp-for="OratorySkillLevel" asp-items="Html.GetEnumSelectList<LanguageSkillLevel>()" class="form-control"></select>
                <span asp-validation-for="OratorySkillLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WritingSkillLevel" class="control-label"></label>
                <select asp-for="WritingSkillLevel" asp-items="Html.GetEnumSelectList<LanguageSkillLevel>()" class="form-control"></select>
                <span asp-validation-for="WritingSkillLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person" class="control-label"></label>
                <select asp-for="PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <select asp-for="LanguageId" class ="form-control" asp-items="ViewBag.LanguageId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvesta" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tagasi nimekirja juurde</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
