﻿@model Domain.PersonLanguage

@{
    ViewData["Title"] = "Kustuta";
}

<h2>Kustuta</h2>

<h3>Oled sa kindel et tahad seda kustutada?</h3>
<div>
    <h4>Keeleoskus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListeningSkillLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ListeningSkillLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReadingSkillLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReadingSkillLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeakingSkillLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeakingSkillLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OratorySkillLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OratorySkillLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WritingSkillLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WritingSkillLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language.LanguageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FirstLastName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonLanguageId" />
        <input type="submit" value="Kustuta" class="btn btn-default" /> |
        <a asp-action="Index">Tagasi nimekirja juurde</a>
    </form>
</div>
