﻿@model Domain.PersonLanguage

@{
    ViewData["Title"] = "Detailid";
}

<h2>Detailid</h2>

<div>
    <h4>Keeleoskus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListeningSkillLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ListeningSkillLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReadingSkillLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReadingSkillLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeakingSkillLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeakingSkillLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OratorySkillLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OratorySkillLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WritingSkillLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WritingSkillLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language.LanguageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FirstLastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonLanguageId">Muuda</a> |
    <a asp-action="Index">Tagasi nimekirja juurde</a>
</div>
