﻿@model IEnumerable<Domain.PersonLanguage>

@{
    ViewData["Title"] = "Nimekiri";
}

<h2>Nimekiri</h2>

<p>
    <a asp-action="Create">Loo uus</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListeningSkillLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReadingSkillLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpeakingSkillLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OratorySkillLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WritingSkillLevel)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListeningSkillLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadingSkillLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakingSkillLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OratorySkillLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WritingSkillLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.LanguageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstLastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonLanguageId">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.PersonLanguageId">Detailid</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonLanguageId">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
