﻿@model IEnumerable<Domain.ContactType>

@{
    ViewData["Title"] = "Nimekiri";
}

<h2>Nimekiri</h2>

<p>
    <a asp-action="Create">Loo uus</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactTypeName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContactTypeId">Muuda</a> |
                    <a asp-action="Details" asp-route-id="@item.ContactTypeId">Detailid</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContactTypeId">Kustuta</a>
                </td>
            </tr>
        }
    </tbody>
</table>
