﻿@model IEnumerable<Domain.Person>

@{
    ViewData["Title"] = "Nimekiri";
}

<h2>Nimekiri</h2>

<p>
    <a asp-action="Create">Lisa uus</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonId">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.PersonId">Detailid</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
