﻿@model Domain.Person

@{
    ViewData["Title"] = "CV";
}

<div class="page-header"><h1>CV</h1></div>

<form asp-action="Index">
    <div class="form-group">
        <input type="submit" value="Taasta andmed" class="btn btn-default" />
    </div>
</form>

<div>
    <div class="page-header"><h2>Isiku- ja kontaktandmed</h2></div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        @foreach (var item in Model.Contacts)
        {

            <dt>
                @Html.DisplayFor(model => item.ContactType.ContactTypeName)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.ContactValue)
            </dd>

        }
    </dl>
</div>
<div>
    <div class="page-header"><h2>Töökogemus</h2></div>
    @foreach (var item in Model.WorkExperiences)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => item.Position)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Position)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => item.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => item.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.StartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => item.EndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.EndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => item.Company.CompanyName)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Company.CompanyName)
            </dd>
        </dl>
    }
</div>
<div>
    <div class="page-header"><h2>Haridus</h2></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Educations[0].StartYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Educations[0].EndYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Educations[0].School)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Educations[0].HasGraduated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Educations[0].StillStudying)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Educations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.School.SchoolName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasGraduated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StillStudying)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <div class="page-header"><h2>Keeleoskused</h2></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PersonLanguages[0].Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonLanguages[0].ListeningSkillLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonLanguages[0].ReadingSkillLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonLanguages[0].SpeakingSkillLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonLanguages[0].OratorySkillLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonLanguages[0].WritingSkillLevel)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PersonLanguages)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language.LanguageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListeningSkillLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReadingSkillLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpeakingSkillLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OratorySkillLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WritingSkillLevel)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <div class="page-header"><h2>Arvutioskused</h2></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Skills[0].Program)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Skills[0].SkillLevel)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Skills)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Program)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillLevel)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <div class="page-header"><h2>Muud saavutused</h2></div>
    @foreach (var item in Model.Accomplishments)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => item.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => item.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Description)
            </dd>
        </dl>
    }
</div>


