﻿@model Domain.School

@{
    ViewData["Title"] = "Kustuta";
}

<h2>Kustuta</h2>

<h3>Oled sa kindel et tahad seda kustutada?</h3>
<div>
    <h4>Kool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SchoolId" />
        <input type="submit" value="Kustuta" class="btn btn-default" /> |
        <a asp-action="Index">Tagasi nimekirja juurde</a>
    </form>
</div>
