﻿@model IEnumerable<Domain.School>

@{
    ViewData["Title"] = "Nimekiri";
}

<h2>Nimekiri</h2>

<p>
    <a asp-action="Create">Loo uus</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SchoolName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EducationLevel)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SchoolId">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.SchoolId">Detailid</a> |
                <a asp-action="Delete" asp-route-id="@item.SchoolId">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
