﻿@model IEnumerable<Domain.WorkExperience>

@{
    ViewData["Title"] = "Nimekiri";
}

<h2>Nimekiri</h2>

<p>
    <a asp-action="Create">Loo uus</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstLastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkExperienceId">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.WorkExperienceId">Detailid</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkExperienceId">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
