﻿@model Domain.Education

@{
    ViewData["Title"] = "Loo";
}

<h2>Loo</h2>

<h4>Haridus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartYear" class="control-label"></label>
                <input asp-for="StartYear" class="form-control" />
                <span asp-validation-for="StartYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndYear" class="control-label"></label>
                <input asp-for="EndYear" class="form-control" />
                <span asp-validation-for="EndYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasGraduated" /> @Html.DisplayNameFor(model => model.HasGraduated)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="StillStudying" /> @Html.DisplayNameFor(model => model.StillStudying)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Person" class="control-label"></label>
                <select asp-for="PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="School" class="control-label"></label>
                <select asp-for="SchoolId" class ="form-control" asp-items="ViewBag.SchoolId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvesta" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tagasi nimekirja juurde</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
