﻿@model Domain.Education

@{
    ViewData["Title"] = "Kustuta";
}

<h2>Kustuta</h2>

<h3>Oled sa kindel et tahad seda kustutada?</h3>
<div>
    <h4>Haridus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasGraduated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasGraduated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StillStudying)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StillStudying)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FirstLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.School.SchoolName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EducationId" />
        <input type="submit" value="Kustuta" class="btn btn-default" /> |
        <a asp-action="Index">Tagasi nimekirja juurde</a>
    </form>
</div>
