﻿@model Domain.Education

@{
    ViewData["Title"] = "Detailid";
}

<h2>Detailid</h2>

<div>
    <h4>Haridus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasGraduated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasGraduated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StillStudying)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StillStudying)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FirstLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.School.SchoolName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EducationId">Muuda</a> |
    <a asp-action="Index">Tagasi nimekirja juurde</a>
</div>
