﻿@model IEnumerable<Domain.Education>

@{
    ViewData["Title"] = "Nimekiri";
}

<h2>Nimekiri</h2>

<p>
    <a asp-action="Create">Loo uus</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasGraduated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StillStudying)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasGraduated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StillStudying)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School.SchoolName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EducationId">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.EducationId">Detailid</a> |
                <a asp-action="Delete" asp-route-id="@item.EducationId">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
