﻿@model Domain.Accomplishment

@{
    ViewData["Title"] = "Detailid";
}

<h2>Detailid</h2>

<div>
    <h4>Saavutus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FirstLastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccomplishmentId">Muuda</a> |
    <a asp-action="Index">Tagasi nimekirja juurde</a>
</div>
